
  /*---------------------------------dispositivo movil-----------------------------------------------------------------*/
    html , body{
        min-height: 100%;  
    }
    
    .logo {
        width: 25%;
        height: 25%;
        margin-top: 2em;        
    }
    main{
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 85%;
        margin-top: 24px;
        margin-left: 1em;      
    }
    body{
        font-family: 'Inter', sans-serif;
        font-family: 'Montserrat', sans-serif;
        background: #F3F5FC; 
        display: flexbox;
    }
    .ingresotexto { /* div de ingreso de texto cifrado-descifrado*/
        
        width: 100%;
        height: 70%;
        margin-left: 1em;
        display: inline-block;
        
    }
    #textoingresado{ /*textarea de texto ingresado*/
        width: 90%;
        height: 60%;
        padding-left: 0.5em;
        font-size: 2em;
        font-weight: 400;
        padding: 5% 0;
        border: none;
        outline: none;
        color: #0A3871;
        background: #F3F5FC;
        overflow: auto;
        
    }  
    .ingresotexto ::placeholder{
        color: #0A3871;
    }
    #limitaciones{
        padding-left: 0.5em;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1em;
        position: relative;
        width: 70%;
        height: 8%;
        font-size: 1em;   
        color: #000;

    }
    #limitaciones ::before{
        content:  url('https://api.iconify.design/bi/exclamation-circle-fill.svg');
    }
    .botones {
        
        width: 100%;
        height: 25%;
        position: relative;
           
    }
    #encriptar {
        width: 90%;
        height: 40%;
        color: #FFFFFF;
        background-color: #0A3871;
        border-radius: 24px;
        font-size: 1.5em; 

    }
    #desencriptar {
        width: 90%;
        height: 40%;
        background-color: #E9ECF8;
        border-color: #0A3871;
        color: #0A3871;
        border-radius: 24px;
        font-size: 1.5em; 
        
        
    }
    .muestrotexto { /*div de salida de texto cifrado-descifrado*/
        width: 95%;
        height: 30%;
        display: inline-block;
        margin: 1em 2em 6em 0;
        border-radius: 32px;
        background: #fff;
        position: relative;

    }
    #textocifrado{ /*textarea de texto mostrado*/
        width: 90%;
        height: 90%;
        margin: 5%;
        font-size: 2em;
        border: none;
        outline: none;
        position: relative;

        
    }
    #doll {
        display: none;       
    }
    #leyenda1{
        width: 80%;
        height: 20%;
        position: relative;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 5% 10% 0;


    }
    #leyenda2{
        width: 80%;
        height: 20%;
        position: relative;
        text-align: center;
        font-size: 1.5em;
        padding: 10% 10% 0;

    }
    #btncopiar{
        width: 90%;
        margin: 5%;
        position: relative;
        text-align: center;
        background-color: #E9ECF8;
        border-color: #0A3871;
        color: #0A3871;
        height: 20%;
        border-radius: 24px;
        padding-right: 12px;
        font-size: 2em;
    }
    footer{
        position: relative;
        display: block;
        margin-top: 3em;
        height: 5em;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #0A3871;
        
    }
    footer p {
        color: white;
        padding: 1em 0 0;
        height: auto;
        text-align: center;
        display: block;
    }
    footer ul{
        display: flex;
    }
    footer li{
        display: inline;
        margin: auto;
    }
    footer li:first-child{
        margin-right: 0;
    }
    footer li:last-child{
        margin-left: 0;
    }
    #linkedinbtn{
        border-radius: 15px;
        background: #0A3871;
        border: none;
        
    }
    #githubbtn{
        border-radius: 15px;
        background: #0A3871;
        border: none;
    }
/*------------------------------------------TABLET---------------------------------------------------------------------**/
@media only screen and (min-width: 600px){
    main{
        display: inline-block;
    }
    .ingresotexto{
        justify-content: space-between;
    }
    .botones { 
        width: 95%;
        height: 10%;
    }
    #encriptar {
        width: 49%;
        height: 100%;
       
    }
    #desencriptar {
        width: 49%;
        height: 100%;
       
    }
}
/**--------------------------------------------DESKTOP-----------------------------------------------------------------**/
@media only screen and (min-width: 1200px){
    body{
        display: flex;
    }
    .logo {
        width: 10%;
        height: 10%;
    }
    main{
        display: flex;    
        height: 80%;
        margin: 2em;
        justify-content: space-between;

    }
    .ingresotexto { /**div de ingreso texto**/
        margin-top: 1em;
        margin-left: 5em;
        width: 60%;
        height: 90%;
        display: flex;
        flex-direction: column;
    
    }
    #textoingresado{
        width: 70%;
        display: inline-block;
    }
    .botones {
        display: inline-flex;
        justify-content: space-between;
        width: 70%;
        height: 8%;
       
    }
    #encriptar {
        width: 49%;
        height: 100%;
    }
    #desencriptar {
        width: 49%;
        height: 100%;
       
    }
    .muestrotexto { /**div de muestro texto**/
        width: 30%;
        height: 100%;
        border-radius: 32px;
        display: table-column;
        justify-content: space-between;
        margin: 0 5% 5% 0;
        
        
    }
    #textocifrado{ 
        height: 80%;
        
    }
    #doll {
        display: block;
        width: 80%;
        height: 5%;
        position: relative;
        padding: 10% 10% 0;
        
    }
    #leyenda1{
        height: 5%;
        padding: 0 10%;
    }
    #leyenda2{
        padding: 2% 10% 0;
        height: 5%;
    }
    #btncopiar{
        height: 7%;
    }
    
}